{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    .messages{
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
    font-size: 30px;
  }
</style>
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Cart</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<!-- cart -->
<div class="cart-section mt-150 mb-150">
   
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                <th class="product-remove"></th>
                                <th class="product-image">Imagem</th>
                                <th class="product-name">Nome</th>
                                <th class="product-price">Preço Kilo</th>
                                <th class="product-price">Preço </th>
                                <th class="product-quantity">Quantidade</th>
                                
                            </tr>
                        </thead>
    <tbody>
    {% for produto_carrinho in produtos_carrinho %}
    <tr class="table-body-row">
        <td class="product-remove"><a href="{% url 'loja-remover-do-carrinho' produto_id=produto_carrinho.id %}"><i class="far fa-window-close"></i></a></td>
        <td class="product-image">
            {% if produto_carrinho.produto.produto|striptags|default:"" == "Morango" %}
                <img src="{% static 'website/assets/img/products/morango.jpg' %}" alt="Morango">
            {% elif produto_carrinho.produto.produto|striptags|default:"" == "Alface" %}
                <img src="{% static 'website/assets/img/products/alface.jpg' %}" alt="Alface">
            {% elif produto_carrinho.produto.produto|striptags|default:"" == "Tomate Chucha" %}
                <img src="{% static 'website/assets/img/products/tomate.jpg' %}" alt="Tomate Chucha">
            {% elif produto_carrinho.produto.produto|striptags|default:"" == "Gelado Chocolate" %}
                <img src="{% static 'website/assets/img/products/gelado_choco.png' %}" alt="Gelado Chocolate">
            {% elif produto_carrinho.produto.produto|striptags|default:"" == "Gelado Laranja" %}
                <img src="{% static 'website/assets/img/products/gelado_laranja.jpg' %}" alt="Gelado Laranja">
            {% elif produto_carrinho.produto.produto|striptags|default:"" == "Gelado de Sardinha" %}
                <img src="{% static 'website/assets/img/products/gelado_sardinha.jpg' %}" alt="Gelado Sardinha">
            {% elif produto_carrinho.produto.produto|striptags|default:"" == "Gelado Banana" %}
                <img src="{% static 'website/assets/img/products/gelado_banana.jpg' %}" alt="Gelado Banana">
            {% else %}

            {% endif %}
        </td>
        <td class="product-name">{{ produto_carrinho.produto.produto }}</td>
        <td class="product-quantity">{{produto_carrinho.precoKilo}}€</td>
        <td class="product-price">{{produto_carrinho.preco}}€</td>
        <td class="">{{ produto_carrinho.quantidade|floatformat:1 }} Kg</td>
    </tr>
   
</tbody>
{% endfor %}
                    </table>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="total-section">
                    <table class="total-table">
                        <thead class="total-table-head">
                            <tr class="table-total-row">
                                <th>Total</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="total-data">
                                <td><strong>Subtotal: </strong></td>
                                <td>{{ total|floatformat:2 }}€</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Shipping: </strong></td>
                                <td>0€</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Total: </strong></td>
                                <td>{{ total|floatformat:2 }}€</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="cart-buttons">
                        <a href="/cart" class="boxed-btn">Update Cart</a>
                    </div>
                </div>

                <div class="coupon-section">
                   

                    <h3>Apply Coupon</h3>
                    <div class="coupon-form-wrap">
                        <form action="index.html">
                            <p><input type="text" placeholder="Coupon"></p>
                            <p><input type="submit" value="Apply"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end cart -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/1.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/2.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/3.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/4.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/5.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->
{% endblock content%}