{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
              <div class="breadcrumb-text">
                <div class="row">
                  <h1>Associar um produto a uma Unidade de Produção</h1>
                  <br>
                 
              </div>
              <h1>Registar novo produto</h1>
              <br>
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                  {% if field.errors %}
                  <ul class="field-error-list">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  {% if field.name == 'categoria' %}
                  <select name="{{ field.name }}">
                    <option value="" {% if not field.value %}selected{% endif %}>Categoria</option>
                    {% for choice_value, choice_label in field.field.choices %}
                    <option value="{{ choice_value }}" {% if field.value == choice_value %}selected{% endif %}>{{ choice_label }}</option>
                    {% endfor %}
                  </select>
                  {% else %}
                  <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="{{ field.label }}" {% if field.value %}value="{{ field.value }}"{% endif %}>
                  {% endif %}
                </div>
                {% endfor %}
                <input type="submit" id="login" value="SALVAR">
              </form>



    
              </div>
          </div>
      </div>
  </div>
</div>

  {% endblock %}
