<div>
    {% extends 'main.html' %}
    {% block content %}
    <div class="container">
        <div class="row">
            <h4>Editar Perfil</h4>
        </div>
    
        <a href="{% url 'loja-perfil' request.user.username %}" class="layout__boxTitle">
            <div  class="container">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"></path>
            </svg>
            <h6>Voltar</h6>
        </div>
          </a>
        <div class="row button-container">
            <form action="" method="POST" class="form-wrapper" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p }}
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            <form action="{% url 'loja-delete-conta' request.user.id %}" method="" class="form-wrapper">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" id="bt_apagar_conta">Apagar conta</button>
            </form>
        </div>
    </div>
    {% endblock content %}
    
</div>