{% extends 'main.html' %}
{% load static %}
{% block content %}

<style>
    .input-wrapper {
    position: relative;
  }

  .hint-formulario {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgb(8, 120, 211);
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
  .ola{
    color: white;
  }
  .pequeno{
    font-size: 10px !important;
    color: white !important;
  }

</style>
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
              <div class="breadcrumb-text">
                <div class="row">
                  <h1> Editar Produto: <span style="color: #F28123">{{ produto.nome }}</span> </h1>
                  <br>
                  <h1>da Unidade de Produção: <span style="color: #F28123">{{ unidade_producao.nome }}</span></h1>
                 
              </div>
              <br>
              <br>
              <br>
              <br>
                <!-- {% if formulario.errors %}
                  <ul class="errorlist">
                    {% for field in formulario %}
                      {% for error in field.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    {% endfor %}
                  </ul>
                {% endif %} -->
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% for field in formulario %}
                  <div class="form-group">
                    {% if field.name == 'preco_a_granel' %}
                    <br>
                    <p><label for="{{ field.name }}">Preço a granel  </label></p>
                    <p class="pequeno">(caso não seja vendido à unidade)</p>
                    <br>
                    {% elif field.name == 'unidade_Medida_Por_Unidade' %}
                    <p><label for="{{ field.name }}">Unidade de medida da embalagem/unidade  </label></p>
                    <p class="pequeno">(caso não seja vendido à unidade)</p>
                    <br>
                    {% elif field.name == 'quantidade_por_unidade' %}
                    <p><label for="{{ field.name }}">Quantidade de produto por embalagem/unidade  </label></p>
                    <p class="pequeno">(caso seja vendido à unidade)</p>
                    <br>
                    {% elif field.name == 'preco_por_unidade' %}
                    <p><label for="{{ field.name }}">Preco por embalagem/unidade  </label></p>
                    <p class="pequeno">(caso seja vendido à unidade)</p>
                    <br>
                    
                    {% elif field.name == 'imagem_produto' %}
                    <p><label for="{{ field.name }}">Imagem do produto  </label></p>
                    <p class="pequeno">(formatos aceites: PNG,JPG,SVG,GIF, tamanho máximo:2mb)</p>
                    <br>
                    {% else %}
                    <p><label for="{{ field.name }}">{{ field.label }}</label></p>
                    <br>
                    {% endif %}
                    {% if field.field.widget.input_type != 'file' %}
                    <div class="input-wrapper">
                      {% if field.name == 'produto' or field.name == 'unidade_producao' or field.name == 'unidade_medida' or field.name == 'unidade_Medida_Por_Unidade' %}
                      <select name="{{ field.name }}">
                          <option value="" {% if not field.value %}selected{% endif %}>{{ field.name }}</option>
                          {% for choice in field.field.choices %}
                              <option value="{{ choice.0 }}" {% if field.value == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
                          {% endfor %}
                      </select>
                      {% else %}
                          <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="{{ field.name }}" {% if field.value %}value="{{ field.value }}"{% endif %}>
                      {% endif %}
                      
                      {% if field.help_text %}
                      <abbr title="{{ field.help_text }}" class="hint-formulario">?</abbr>
                      {% endif %}
                    </div>
                    {% else %}
                    {{ field }}
                    {% endif %}
                    
                    {% for error in field.errors %}
                            <div class="invalid-feedback d-block">{{ error }}</div>
                        {% endfor %}
                  </div>
                  {% endfor %}
                  
                  <input type="submit" id="login" value="GUARDAR">
                </form>
                <a href="{% url 'loja-unidadeProducao' userName=request.user.username id=unidade_producao.id %}" class="layout__boxTitle">
                  <div  class="container">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
                      <title>arrow-left</title>
                      <path d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"></path>
                      </svg>
                      <h6 class="voltar">Voltar</h6>
                  </div>
              </a>
                  

                 
              </div>
          </div>
      </div>
  </div>
</div>

  {% endblock %}