{% extends 'main.html' %}
{% load static %}
{% block content %}
    	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<div class="container">
    <div class="row">
        <h1>Editar um Veículo</h1>
       
    </div>

    <br>
    <div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            {{ field.errors }}
            <br>
            <p><label for="{{ field.name }}">{{ field.label }}</label></p>
            <br>
            {% if field.field.widget.input_type == 'select' %}
                <select name="{{ field.name }}" id="{{ field.id_for_label }}">
                    {% for choice_value, choice_label in field.field.choices %}
                        <option value="{{ choice_value }}" {% if choice_value == field.value %}selected{% endif %}>{{ choice_label }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <input type="{{ field.field.widget.input_type }}"
                       placeholder="{{ field.label }}"
                       name="{{ field.name }}"
                       id="{{ field.id_for_label }}"
                       {% if field.value %}value="{{ field.value }}"{% endif %}>
            {% endif %}
            {% endfor %}
            <input type="submit" id="login" value="Guardar">
        </form>
    </div>
    
      
    <a href="{% url 'loja-unidadeProducao' userName=request.user.username id=unidadeProducao.id %}" class="layout__boxTitle">
        <div  class="container">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
            <title>arrow-left</title>
            <path d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"></path>
            </svg>
            <h6>Voltar</h6>
        </div>
    </a>
</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{%static 'website/assets/img/company-logos/1.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{%static 'website/assets/img/company-logos/2.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{%static 'website/assets/img/company-logos/3.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{%static 'website/assets/img/company-logos/4.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{%static 'website/assets/img/company-logos/5.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	









{% endblock content %}


<!-- <div class="container">
    <div class="row">
        <h4>Adicionar um Veículo</h4>
    </div>

    <a href="{% url 'loja-unidadeProducao' userName=request.user.username id=unidadeProducao.id %}" class="layout__boxTitle">
        <div  class="container">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
            <title>arrow-left</title>
            <path d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"></path>
            </svg>
            <h6>Voltar</h6>
        </div>
    </a>
    <div class="row button-container">
        <form action="" method="POST" class="form-wrapper" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p }}
            <button type="submit" class="btn btn-primary id='botaoEditarPeril' ">Adicionar</button>
        </form>
    </div>
</div> -->