{% extends 'main.html' %}
{% block content %}
{% if pagina == 'login' %}
<!-- LOGIN -->

<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">Encomenda connosco</p>
                        <hr>
                        <p class="subtitle">Entrar</p>
                            <div class="main-agileinfo">
                                <div class="agileits-top">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <input class="text email" type="email" name="email" placeholder="Email" required="">
                                        <input class="text" type="password" name="password" placeholder="Password" required="">

                                        <div class="wthree-text">
                                            <label class="anim">
                                               
                                            </label>
                                            <div class="clear"> </div>
                                        </div>
                                        <input type="submit" id="login" value="SIGNIN">
                                    </form>
                                    <p>Ainda não tens conta? <a href="/register" class="link-registo">Regista-te agora!</a></p>
                                    </div>
                                </div>          
                            </div>
                </div>
            </div>
        </div>
</div>
<style>
    .link-registo {
        color: rgb(0, 200, 255) !important;
        text-decoration: underline;
    }
</style>
{% else %}
<!-- REGISTO -->
<style>
     .form-group input {
  font-size:15px;
        } 
        .descricao{
            font-size: 10px;
        }
    #login{
        font-size:12px !important;
        width: 280px;
    }
    
   
    .invalid-feedback{
        font-weight: bold;
        color: yellow;
        
       
       
    }
  
</style>
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                <br>
                <br>
                <br>
             
                
                
                <p class="subtitle" id="subtitle1">Encomenda connosco</p>
                <p class="subtitle" id="subtitle2">Regista-te</p>
                <hr>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group row">
                      <div class="col-md-4">
                       
                      </div>
                      <div class="col-md-4">
                        {% if field.field.widget.input_type == 'select' %}
                          <!-- Render select input -->
                          <select name="{{ field.name }}">
                            {% for option in field.field.widget.choices %}
                            <option value="{{ option.0 }}" {% if option.0 == field.value %}selected{% endif %}>{{ option.1 }}</option>
                            {% endfor %}
                          </select>
                        {% else %}
                          <!-- Render other input types -->
                          <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="{{ field.label }}" class="{% if field.errors %}is-invalid{% endif %}" value="{{ field.value|default:'' }}">
                        {% endif %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                        {% endfor %}
                      </div>
                    </div>
                    {% endfor %}
                  
            
                    <input type="submit" id="login" value="SIGNUP">
                  </form>
                  <p class="link">Se já tens conta <a href="/login" class="link-entraAgora">Entra agora!</a></p>
                  
                
              
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
<style>
    .link-entraAgora {
        color: rgb(0, 200, 255) !important;
        text-decoration: underline;
    }
</style>
{% endif %}
{% endblock content %}