{% extends 'main.html' %}
{% load static %}
{% block content%}
<link rel="stylesheet" href="{%static 'website/assets/css/responsiveC.css' %}">
<style>
    h2{
        font-size: 25px !important;
        color:#F28123;
    }
    h3{
        font-size: 25px !important;
        color:#fff;
    }
    p{
        font-size: 13px !important;
        color: #fff;
    }
    table{
        border: 1px solid;
    }
    #lo {
    font-size: .9em;
    color: #fff;
    background: #F28123;
    outline: none;
    border: 1px solid #F28123;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
  }
   #lo:hover{
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background: #c2a86f;
  }
  
  .table-spacing td, .table-spacing th {
        padding: 12px 8px; /* Ajuste o espaçamento conforme necessário */
    }
    .form-container {
        display: flex;
        justify-content: space-between;
    }
    .form-container form {
        flex: 1;
        margin-right: 10px;
    }

    
    #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
    }



    #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    }

    #customers tr{background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #07212e;
    color: white;
    }



    
    #cutomcustomers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: auto;
    }

    #cutomcustomers td, #cutomcustomers th {
    border: 1px solid #ddd;
    padding: 8px;
    }


    #cutomcustomers tr{background-color: #f2f2f2;}

#cutomcustomers tr:hover {background-color: #ddd;}

#cutomcustomers th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #07212e;
color: white;
}
    


</style>
    <!-- breadcrumb-section -->


<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                   
                    <p>O seu perfil</p>
                    <br>
                    <div id="imagemPerfil">
                        <img class="imagens" id='imagem-perfil-perfil' src="{{utilizadorView.imagem_perfil.url}}"
                            style="width:150px;height: 150px;border-radius: 100%;" />
                    </div>
                    <h1>Bem Vindo</h1>
                    
                    <h2>{{utilizadorView.nome}}</h2>
                    <br>
                    {% if request.user == utilizadorView %}
                    <form action="{% url 'loja-editarPerfil' %}" method="" >
                    {% csrf_token %}
                    <br>
                    <input type="submit" id="login" value="EDITAR PERFIL">
                    </form>

                    {% endif %}
                  
                    <div id="botaoAdicionarUP">
                        <form action="{% url 'loja-criarUP' request.user.username %}" method="" class="form-wrapper">
                            {% csrf_token %}
                            <input type="submit" id="login" value="UNIDADE DE PRODUÇÃO">
                        </form>
                    </div>
                </div>
                {% if request.user.is_fornecedor and request.user.username == utilizadorView.username %}
                <div id="Fornecedor">
                    <div class="form-container">
                    <form action="{% url 'loja-criarProduto' userName=request.user.username %}" method="" >
                        {% csrf_token %}
                            <input type="submit" id="login" class="segundo" value="Criar Produto">
                        </form>
                        <form action="{% url 'loja-associarProdutoUP' %}" method="" >
                            {% csrf_token %}
                                <input type="submit" id="login" class="primeiro" value="Associar Produto a Unidade de Produção">
                        </form>
                    </div>
                    <br>
                    <br>
                    <table id="infoGeralFornecedor">
                        {% if numero_up > 0 %}
                        <div id="numeroUPfornecedor">
                            <h3>Unidades de produção: {{numero_up}}.</h3>
                            <br>
                        </div>
                        <div id="divTabelaPerfilFornecedor">
                            <table id="customers">
                                <tr>

                                   <th>Id Interno</th>
                                    <th>Nome</th>
                                    <th>País</th>
                                    <th>Cidade</th>
                                    <th>Morada</th>
                                    <th>Tipo de Unidade</th>
                                    <th>Editar UP</th>
                                    <th id="semBorda">Link</th>
                                </tr>
                                {% for up in unidadesProducao %}
                                <tr>
                                    <td>{{ up.id }}</td>
                                    <td>{{ up.nome }}</td>
                                    <td>{{ up.get_pais_display }}</td>
                                    <td>{{ up.cidade }}</td>
                                    <td>{{ up.morada }}</td>
                                    <td>{{ up.get_tipo_unidade_display }}</td>
                                    <td>
                                        <form action="{% url 'loja-editarUnidadeProducao' userName=request.user.username id=up.id %}" method="get">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-info btn-sm" id="">Editar</button>
                                        </form>
                                    </td>
                                    <td><a href="{% url 'loja-unidadeProducao' userName=request.user.username id=up.id %}">Gerir: Produtos/Encomendas/Veículos</a></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% else %}
                            <p>Ainda não tem unidades de produção associadas. Crie uma com o botão abaixo! </p>
                        {% endif %}
                    </table>
                    <br>
                    
                </div>
        
                {% elif request.user.is_consumidor and request.user.username == utilizadorView.username %}
                    <div id="Consumidor">
                            <form action="{% url 'loja-detalhesEnvio'%}" method="" >
                                {% csrf_token %}
                                 <br>
                                <input type="submit" id="login" value="Os meus detalhes de envio">
                            </form>
                            {% if numero_encomendas > 0 %}
                                <h2>Você já fez {{numero_encomendas}} encomendas no site!</h2>
                                <br>
                                <br>
                                <div id="divTabelaPerfilFornecedor">
                                    <table id="cutomcustomers"  class="table-spacing">
                                        <tr>
                                            <th>Encomenda</th>
                                            <th>Valor Total</th>
                                            <th>Estado</th>
                                            <th>Informações de entrega</th>
                                            <th>Criada</th>
                                            <th>Última Atualização</th>
                                            <th id="semBorda">Detalhes</th>
                                        </tr>
                                        <tbody>
                                            {% for encomenda in encomendas %}
                                                {% with i=forloop.counter0|add:1 %}
                                                <tr>
                                                    <td>{{i}}</td>
                                                    <td>{{ encomenda.valor_total }}€</td>
                                                    <td>{{ encomenda.estado }}</td>
                                                    <td>{{ encomenda.detalhes_envio }}</td>
                                                    <td>{{ encomenda.created }}</td>
                                                    <td>{{ encomenda.updated }}</td>
                                                    <td><a href="{% url 'loja-produtosEncomendados' username=request.user.username idEncomenda=encomenda.idEncomenda %}">Mais</a></td>
                                                </tr>
                                                {% endwith %}
                                            
                                            {% endfor %}
                                        </tbody>
                                    </table>
                            {% else %}
                                <h2>Ainda não tem encomendas realizadas.</p>
                            {% endif %}
                        </div>
                {% endif %}                
                    
        
    
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->


           
    </div>
</div>
<!-- end cart -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/1.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/2.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/3.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/4.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/5.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





    {% endblock %}