{% extends 'main.html' %}
{% load static %}
{% block content%}
<link rel="stylesheet" href="{%static 'website/assets/css/responsiveC.css' %}">
<style>
    h2{
        font-size: 25px !important;
        color:#F28123;
    }
    h3{
        font-size: 25px !important;
        color:#fff;
    }
    p{
        font-size: 13px !important;
        color: #fff;
    }
    table{
        border: 1px solid;
    }
    #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
    }

    #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    }

    #customers tr{background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #07212e;
    color: white;
    }
</style>
    <!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                   
                    <p>O seu perfil</p>
                    <br>
                    <div id="imagemPerfil">
                        <img class="imagens" id='imagem-perfil-perfil' src="{{request.user.imagem_perfil.url}}"
                            style="width:150px;height: 150px;border-radius: 100%;" />
                    </div>
                    <h1>Bem Vindo</h1>
                    
                    <h2>{{utilizadorView.nome}}</h2>
                    <br>
                    {% if request.user == utilizadorView %}
                    <form action="{% url 'loja-editarPerfil' %}" method="" >
                    {% csrf_token %}
                    <br>
                    <input type="submit" id="login" value="EDITAR PERFIL">
                    </form>
                    {% endif %}
                    <br>
                </div>
                {% if request.user.is_fornecedor %}
                <div id="Fornecedor">
                    <a href="{% url 'loja-criarProduto' userName=request.user.username%}" class="btn btn-primary">Criar Produto</a>
                    <a href="{% url 'loja-associarProdutoUP' %}" class="btn btn-primary"> Associar Produto a Unidade de Produção</a>
                    <table id="infoGeralFornecedor">
                        {% if numero_up > 0 %}
                        <div id="numeroUPfornecedor">
                            <h3>Unidades de produção: {{numero_up}}.</h3>
                        </div>
                        <div id="divTabelaPerfilFornecedor">
                            <table id="customers">
                                <tr>

                                   <th>Id Interno</th>
                                    <th>Nome</th>
                                    <th>País</th>
                                    <th>Cidade</th>
                                    <th>Morada</th>
                                    <th>Tipo de Unidade</th>
                                    <th>Editar UP</th>
                                    <th id="semBorda">Link</th>
                                </tr>
                                {% for up in unidadesProducao %}
                                <tr>
                                    <td>{{ up.id }}</td>
                                    <td>{{ up.nome }}</td>
                                    <td>{{ up.get_pais_display }}</td>
                                    <td>{{ up.cidade }}</td>
                                    <td>{{ up.morada }}</td>
                                    <td>{{ up.get_tipo_unidade_display }}</td>
                                    <td>
                                        <form action="{% url 'loja-editarUnidadeProducao' userName=request.user.username id=up.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-info btn-sm">Editar</button>
                                        </form>
                                    </td>
                                    <td><a href="{% url 'loja-unidadeProducao' userName=request.user.username id=up.id %}">Gerir Veiculos/Gerir Produtos</a></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% else %}
                        <p>Ainda não tem unidades de produção associadas. Crie uma com o botão abaixo! </p>
                        {% endif %}
                    </table>
                    <br>
                    <div id="botaoAdicionarUP">
                        <form action="{% url 'loja-criarUP' request.user.username %}" method="" class="form-wrapper">
                            {% csrf_token %}
                            <input type="submit" id="login" value="ADICIONAR UNIDADES DE PRODUÇÃO">
                        </form>
                    </div>
                </div>
        
                {% elif request.user.is_consumidor %}
                <div id="Consumidor">
                    <!-- ESPAÇO PARA COISAS DE UM CONSUMIDOR -->
                </div>
        
                {% endif %}
    
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->


           
    </div>
</div>
<!-- end cart -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/1.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/2.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/3.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/4.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/5.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





    {% endblock %}