{% extends 'main.html' %}
{% load static %}
{% block content%}
<style>
    h2{
        font-size: 25px !important;
        color:#F28123;
    }
    .styleBox{
       
        height: 300px;
    width: 500px;
    margin-left: 96px;
    
    }
    #ola{
        margin-top: -80px;
    }
    
</style>
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <div class="container" id="ola">
                        <h1>Conte-nos mais sobre si </h1>
                        <h2>Opcional</h2>
                        <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="styleBox">
                    
                   
                        <form action="" method="POST">
                            
                            {% csrf_token %}
                           
                            {{form.as_p}}
                               
                            <input type="submit" id="login" value="GUARDAR">
                           
                        </form>
                    </div>
                        </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->




<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/1.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/2.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/3.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/4.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/5.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	



{% endblock content %}




