{% extends 'main.html' %}
{% load static %}
{% block content%}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>

	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Relatório Geral</h1>
						<br>
                        {% if request.user.is_fornecedor %}
						<p>Dinheiro ganho:</p>
                        <br>
                        <p style="color:white">{{total.dinheiroGastoGanho}}€</p>
						<br>
						<p>Número de Encomendadas recebidas</p>
						
                        <br>
                        <p style="color:white">{{total.ProdutosEncomendados}}</p>

                        {% endif %}
						
					</div>
				</div>
			
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- featured section -->
	<div class="product-section mt-150 mb-150">

		<style>
			* {
			  margin: 0;
			  padding: 0;
			  font-family: sans-serif;
			}
			.chartMenu {
			  width: 100vw;
			  height: 40px;
			  background: #1A1A1A;
			  color: rgba(54, 162, 235, 1);
			}
			.chartMenu p {
			  padding: 10px;
			  font-size: 20px;
			}
			.chartCard {
			  width: 100vw;
			  height: calc(100vh - 40px);
			 
			  display: flex;
			  align-items: center;
			  justify-content: center;
			}
			.chartBox {
			  width: 700px;
			  padding: 20px;
			  border-radius: 20px;
			  border: whi;
			  background: white;
			}
		  </style>
		</head>
		<body>
			
			<div class="chartCard" style="margin-top: -400px;">
			<div class="chartBox">
			  <canvas id="myChart"></canvas>
			</div>
		  </div>
		  
		  <script>
			
			var dicionarioImpactoLocal =JSON.parse('{{ dicionarioDadosImpactoLocal|safe }}');
			
			// var freguesias=dicionarioImpactoLocal.FreguesiasIguais;
			var cidades=dicionarioImpactoLocal.CidadesIguais;
			
			// var paises=dicionarioImpactoLocal;
			// var continentes=dicionarioImpactoLocal;
			// var mundo=dicionarioImpactoLocal;
			const data = {
			labels: ['Dinheiro Gasto', 'Numero Produtos Encomendas'],
			datasets: []
			};

			const colors = [
			'rgba(255, 26, 104, 0.65)', // Rosa Choque
			'rgba(54, 162, 235, 0.65)', // Azul Vivo
			'rgba(255, 197, 26, 0.65)', // Amarelo Vívido
			'rgba(46, 204, 113, 0.65)', // Verde Esmeralda
			'rgba(255, 99, 71, 0.65)', // Vermelho Tomate
			'rgba(52, 152, 219, 0.65)', // Azul Clara
			'rgba(230, 126, 34, 0.65)', // Laranja Escura
			'rgba(155, 89, 182, 0.65)', // Roxo Ametista
			'rgba(231, 76, 60, 0.65)', // Vermelho Pôr do Sol
			'rgba(26, 188, 156, 0.65)', // Verde Turquesa
			'rgba(241, 196, 15, 0.65)', // Amarelo Sol
			'rgba(149, 165, 166, 0.65)', // Cinzento Suave
			'rgba(46, 204, 113, 0.65)', // Verde Esmeralda
			'rgba(192, 57, 43, 0.65)', // Vermelho Pimenta
			'rgba(26, 82, 118, 0.65)', // Azul Petróleo
			'rgba(249, 105, 14, 0.65)', // Laranja Abóbora
			'rgba(142, 68, 173, 0.65)', // Roxo Brilhante
			'rgba(243, 156, 18, 0.65)', // Laranja Radiante
			'rgba(46, 134, 193, 0.65)', // Azul Capri
			'rgba(230, 126, 34, 0.65)', // Laranja Escura
			'rgba(22, 160, 133, 0.65)', // Verde Mar
			'rgba(211, 84, 0, 0.65)', // Laranja Âmbar
			'rgba(189, 195, 199, 0.65)', // Cinzento Prateado
			'rgba(231, 76, 60, 0.65)', // Vermelho Pôr do Sol
			'rgba(142, 68, 173, 0.65)', // Roxo Brilhante
			'rgba(52, 73, 94, 0.65)', // Azul Meia-Noite
			'rgba(243, 156, 18, 0.65)', // Laranja Radiante
			'rgba(39, 174, 96, 0.65)', // Verde Esmeralda Brilhante
			'rgba(128, 0, 0, 0.65)', // Marrom Escuro
			'rgba(52, 73, 94, 0.65)', // Azul Meia-Noite
			'rgba(52, 152, 219, 0.65)', // Azul Clara
			'rgba(241, 196, 15, 0.65)', // Amarelo Sol
			'rgba(243, 156, 18, 0.65)', // Laranja Radiante
			'rgba(211, 84, 0, 0.65)', // Laranja Âmbar
			'rgba(192, 57, 43, 0.65)', // Vermelho Pimenta
			'rgba(241, 196, 15, 0.65)', // Amarelo Sol
			'rgba(22, 160, 133, 0.65)', // Verde Mar
			'rgba(211, 84, 0, 0.65)', // Laranja Âmbar
			'rgba(142, 68, 173, 0.65)', // Roxo Brilhante
			'rgba(243, 156, 18, 0.65)', // Laranja Radiante
			'rgba(26, 82, 118, 0.65)', // Azul Petróleo
			'rgba(52, 73, 94, 0.65)', // Azul Meia-Noite
			'rgba(46, 204, 113, 0.65)', // Verde Esmeralda
			'rgba(230, 126, 34, 0.65)', // Laranja Escura
			'rgba(142, 68, 173, 0.65)', // Roxo Brilhante
			'rgba(243, 156, 18, 0.65)', // Laranja Radiante
			'rgba(39, 174, 96, 0.65)', // Verde Esmeralda Brilhante
			'rgba(128, 0, 0, 0.65)', // Marrom Escuro
			'rgba(22, 160, 133, 0.65)', // Verde Mar
			'rgba(231, 76, 60, 0.65)', // Vermelho Pôr do Sol
			'rgba(52, 152, 219, 0.65)', // Azul Clara
			'rgba(241, 196, 15, 0.65)', // Amarelo Sol
			'rgba(230, 126, 34, 0.65)', // Laranja Escura
			'rgba(189, 195, 199, 0.65)', // Cinzento Prateado
			'rgba(26, 188, 156, 0.65)', // Verde Turquesa
			'rgba(155, 89, 182, 0.65)', // Roxo Ametista
			'rgba(231, 76, 60, 0.65)', // Vermelho Pôr do Sol
			'rgba(46, 204, 113, 0.65)', // Verde Esmeralda
			'rgba(54, 162, 235, 0.65)', // Azul Vivo
			'rgba(255, 26, 104, 0.65)', // Rosa Choque
			];

			let colorIndex = 0;

			for (const cidade in cidades) {
			const obj = cidades[cidade];
			const dataset = {
				label: cidade,
				data: [obj.dinheiroGasto, obj.numeroProdutosEncomendos],
				backgroundColor: [colors[colorIndex]],
				borderColor: [colors[colorIndex]],
				borderWidth: 1
			};
			data.datasets.push(dataset);
			colorIndex = (colorIndex + 1) % colors.length; // Loop through colors
			}

			const config = {
			type: 'bar',
			data,
			options: {
				scales: {
				y: {
					beginAtZero: true
				}
				}
			}
			};

			const myChart = new Chart(
			document.getElementById('myChart'),
			config
			);
				
						


			
		  </script>

	</div>
	
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{%static 'website/assets/img/company-logos/1.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{%static 'website/assets/img/company-logos/2.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{%static 'website/assets/img/company-logos/3.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{%static 'website/assets/img/company-logos/4.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{%static 'website/assets/img/company-logos/5.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
{% endblock content %}