{% extends 'main.html' %}
{% load static %}
{% block content%}


<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Frescos e Organicos</p>
                    <h1>Loja</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- products -->
<div class="product-section mt-150 mb-150">
    <form method="GET" action="{% url 'ver_produtos' %}">
    <input type="text" id="searchBox-1" name="q" placholder="Pesquisa por o que quiseres">
    </form>
    <div class="row product-lists">
        {% for produto in produtos_precos %}
            <div class="col-lg-4 col-md-6 text-center {{ produto.categoria }}">
                <div class="single-product-item filtro-item">
                    <a href="single-product.html">
                        {% if produto.produto == "Morango" %}
                            <img src="{% static 'website/assets/img/products/morango.jpg' %}" alt="Morango">
                        {% elif produto.produto == "Alface" %}
                            <img src="{% static 'website/assets/img/products/alface.jpg' %}" alt="Alface">
                        {% elif produto.produto == "Tomate Chucha" %}
                            <img src="{% static 'website/assets/img/products/tomate.jpg' %}" alt="Tomate Chucha">
                        {% else %}
                            <img src="{% static 'website/assets/img/products/default.jpg' %}" alt="Default">
                        {% endif %}
                        
                    </a>
                    <h3>{{ produto.produto }}</h3>
                    <p class="product-price"><span>Por Kilograma</span> {{ produto.preco}}</p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Adicionado ao Carrinho</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
   
    
    
    
    
    
    
</div>








<!-- end products -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/1.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/2.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/3.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/4.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/5.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



	
{% endblock content %}