{% extends 'main.html' %}
{% load static %}
{% block content%}


<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Frescos e Organicos</p>
                    <h1>Loja</h1>
                    <h1 id="search-term" style="display: none;"></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- products -->
<style>
    .botao{
        width: 420px !important;
        height: 40px !important;
    }
    #login{
        width: 320px !important;
        height: 40px !important;
    }
    .styled-input {
        background-color: rgba(103, 103, 103, 0.2) !important;
        width: 220px !important;
        height: 40px !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
    
    .preco{
        font-size: 30px;
    }
    .pesquisa h3{
        font-size: 30px;
        font-weight: bold;
    }
    h2{
        font-size: 26px;
    }
    .pesquisa {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .search-term {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 10px;
  }
  .search-term {
    margin-left: 5px;
  }
</style>


{% if termo_pesquisa %}
<div class="pesquisa">
      <h3>Você pesquisou por :</h3>
    <div class="search-term">
    <h2> {{ termo_pesquisa }}</h2>
    </div>
  </div>
{% endif %}


<div class="product-section mt-150 mb-150">
    <div class="row product-lists">
        {% for produto in produtos_precos %}
        <div class="col-lg-4 col-md-6 text-center {{ produto.categoria }}">
            <div class="single-product-item filtro-item">
                <a href="{% url 'loja-single-product' produto_id=produto.id%}">
                    {% if produto.produto == "Morango" %}
                    <img src="{% static 'website/assets/img/products/morango.jpg' %}" alt="Morango">
                    {% elif produto.produto == "Alface" %}
                    <img src="{% static 'website/assets/img/products/alface.jpg' %}" alt="Alface">
                    {% elif produto.produto == "Tomate Chucha" %}
                    <img src="{% static 'website/assets/img/products/tomate.jpg' %}" alt="Tomate Chucha">
                    {% elif produto.produto == "Gelado Chocolate" %}
                    <img src="{% static 'website/assets/img/products/gelado_choco.png' %}" alt="Gelado Chocolate">
                    {% elif produto.produto == "Gelado Laranja" %}
                    <img src="{% static 'website/assets/img/products/gelado_laranja.jpg' %}" alt="Gelado Chocolate">
                    {% else %}
                    <img src="{% static 'website/assets/img/products/default.jpg' %}" alt="Default">
                    {% endif %}
                </a>
                <h3>{{ produto.produto }}</h3>
                <h4>Categoria: {{ produto.categoria }}</h4>
                {% if produto.tipo == "granel" %}
                <p class="container">
                    <span>Preço por Kg: {{produto.preco}}</span>
                    <input type="number" class="styled-input" step="0.5" min="0" max="50" placeholder="1 Kg" name="quantidade" value="1" oninput="atualizarPreco(this, {{ produto.preco }})">

                    <span class="preco">{{ produto.preco }}€</span>
                </p>
                <br>
                <a href="{% url 'loja-adicionar-ao-carrinho' produto_id=produto.id %}" onclick="adicionarAoCarrinho(event, this)" class="cart-btn" data-quantidade="1"><i class="fas fa-shopping-cart"></i> Adicionado ao Carrinho</a>

                {% else %}
                <p class="container">
                    <span>Preço por unidade: {{produto.preco}}€</span>
                    <input type="number" class="styled-input" step="0.5" min="0" max="50" placeholder="1 Kg" name="quantidade" value="1" oninput="atualizarPreco(this, {{ produto.preco }})">
                    <span class="preco">{{ produto.preco }}€</span>
                </p>
                <br>
               
                <a href="{% url 'loja-adicionar-ao-carrinho' produto_id=produto.id %}" onclick="adicionarAoCarrinho(event, this)" class="cart-btn" data-quantidade="1"><i class="fas fa-shopping-cart"></i> Adicionado ao Carrinho</a>

                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
   
    


<!-- end products -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/1.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/2.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/3.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/4.png' %}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{%static 'website/assets/img/company-logos/5.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



	
{% endblock content %}