{% extends 'main.html' %}
{% load static %}
{% block content %}


<style>
    .product-section h1 {
        color: black;
        }
        

    .descricao-toggle.expandido i {
        transform: rotate(-180deg);
    }
   
    .imagem{
            display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        }
        .preçoRange{
    font-size: 20px;
    font-weight: normal;
  }
  .preçoRange1{
    font-size: 20px;
    font-weight: bold;
  }
   .preçoRange2{
   
    font-weight: bold ;
  }
  .preco{
    font-size: 20px !important;
    font-weight: bold !important;
  }
  

    
</style>
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Frescos e Organicos</p>
                    <h1>Loja</h1>
                    
                    

                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- products -->
<!-- <h3>{{produto_info}}</h3>
<h3>{{categoria}}</h3> -->

<div class="product-section mt-150 mb-150">
    <h1>{{ filtered_products.0.nome }}</h1>
    <br>
    <div class="row product-lists">
        {% for produto in filtered_products %}
        <div class="col-lg-4 col-md-6 text-center mx-auto">
            <div class="single-product-item">
               
                <div>
                    
                        <div class="mais-informacao">
                            <img src="{% static produto.imagem_produto %}" alt="{{produto.produto}}" width="220" height="220">
                            {% if produto.stock < "10" %}
                            <p style="font-weight: bold; color: red">Quase a acabar</p>
                            {% endif %}
                            <br>
                            <p>Categoria: {{ produto.categoria }}</p>
                            <hr>
                            <p>Fornecedor: {{ produto.fornecedor }}</p>
                            <hr>
                            <p>Unidade de Produção: {{ produto.up }}</p>
                            <hr>
                            <p>Morada: {{ produto.morada }}, {{ produto.cidade }}, {{ produto.pais}}</p>
                           
                            <hr>
                            {% if produto.descricao is not None %}
                                <p>Descrição: {{ produto.descricao }}</p>
                            {% else %}
                                <p>Descrição: Não foi fornecida nenhuma descrição.</p>
                            {% endif %}
                            <hr>
                            <p>Data de Produção: {{ produto.dataP }}</p>
                            <hr>
                            <p>Unidade de Medida: {{produto.unidade_medida}}</p>
                            <hr>
                            {% if produto.unidade_medida == 'un' %}
                            <p>Quantidade por Unidade: {{produto.quantidade_por_unidade}} {{produto.unidade_Medida_Por_Unidade}}</p>
                            {% else %}
                            <br>
                            {% endif %}
                            <hr>
                            <p>Marca: {{ produto.marca }}</p>
                        <br>
                        </div>
                        {% if produto.precoG == null %}
                        <span class="preçoRange"> Por Unidade: <span class="preçoRange2">{{ produto.precoU }}€ </span> </span>
                        
                        {% elif produto.precoU == null %}
                            {% if produto.unidade_medida == "ml" %}
                                <span class="preçoRange"> Por Mililitro: <span class="preçoRange2">{{ produto.precoG }}€ </span> </span>
                            {% elif produto.unidade_medida == "l" %}
                                <span class="preçoRange"> Por Litro: <span class="preçoRange2">{{ produto.precoG }}€ </span> </span>
                            {% elif produto.unidade_medida == "g" %}
                                <span class="preçoRange"> Por Grama: <span class="preçoRange2">{{ produto.precoG }}€ </span> </span>
                            {% elif produto.unidade_medida == "kg" %}
                                <span class="preçoRange"> Por Kilograma: <span class="preçoRange2">{{ produto.precoG }}€ </span> </span>
                            {% endif %}
                        {% else %}
                        
                        <span class="preçoRange"> Por Unidade: <span class="preçoRange2">{{ produto.precoU }}€ ||</span> </span>
                        
                        <span class="preçoRange">  Por Kilograma: <span class="preçoRange2">{{ produto.precoG }}€ </span> </span>
                        
                        {% endif %}
                        {% if request.user.is_consumidor%}
                        {% if produto.unidade_medida == "kg" %}
                        
                        <p class="container">
                            <br>
                            <input type="number" class="styled-input" step="0.5" min="0.1" max="50" placeholder="1 Kilograma" name="quantidade" onblur="atualizarNumeroComVirgula(this), atualizarPreco(this, {{ produto.precoU }})" oninput="atualizarPreco(this, {{ produto.precoG }})">
                            <span class="preco" name="preco">{{ produto.precoG}}€</span>
                        </p>
                        <br>
                        <a href="{% url 'loja-adicionar-ao-carrinho' produto_id=produto.id %}?preco={{ produto.precoG }}" onclick="adicionarAoCarrinho(event, this)" class="cart-btn" data-quantidade="1" data-price="{{ produto.precoG }}">
                            <i class="fas fa-shopping-cart"></i> Adicionado ao Carrinho</a>
                        {% elif produto.unidade_medida == "un" %}
                        <p class="container">
                            <br>
                            <input type="number" class="styled-input" step="1" min="1" max="50" placeholder="1 Unidade" name="quantidade" onblur="atualizarNumero(this), atualizarPreco(this, {{ produto.precoU }})" oninput="atualizarPreco(this, {{ produto.precoU }})">
                            <span class="preco" name="preco">{{ produto.precoU }}€</span>
                        </p>
                        <br>
                        <a href="{% url 'loja-adicionar-ao-carrinho' produto_id=produto.id %}?preco={{ produto.precoU }}" onclick="adicionarAoCarrinho(event, this)" class="cart-btn" data-quantidade="1" data-price="{{ produto.precoU }}">
                            <i class="fas fa-shopping-cart"></i> Adicionado ao Carrinho</a>
                        {% elif produto.unidade_medida == "g" %}
                        <p class="container">
                            <br>
                            <input type="number" class="styled-input" step="1" min="1" max="50" placeholder="1 Grama" name="quantidade" onblur="atualizarNumero(this), atualizarPreco(this, {{ produto.precoU }})" oninput="atualizarPreco(this, {{ produto.precoU }})">
                            <span class="preco" name="preco">{{ produto.precoU }}€</span>
                        </p>
                        <br>
                        <a href="{% url 'loja-adicionar-ao-carrinho' produto_id=produto.id %}?preco={{ produto.precoU }}" onclick="adicionarAoCarrinho(event, this)" class="cart-btn" data-quantidade="1" data-price="{{ produto.precoU }}">
                            <i class="fas fa-shopping-cart"></i> Adicionado ao Carrinho</a>
                        {% elif produto.unidade_medida == "l" %}
                        <p class="container">
                            <br>
                            <input type="number" class="styled-input" step="1" min="1" max="50" placeholder="1 Litro" name="quantidade" onblur="atualizarNumero(this), atualizarPreco(this, {{ produto.precoU }})" oninput="atualizarPreco(this, {{ produto.precoU }})">
                            <span class="preco" name="preco">{{ produto.precoU }}€</span>
                        </p>
                        <br>
                        <a href="{% url 'loja-adicionar-ao-carrinho' produto_id=produto.id %}?preco={{ produto.precoU }}" onclick="adicionarAoCarrinho(event, this)" class="cart-btn" data-quantidade="1" data-price="{{ produto.precoU }}">
                            <i class="fas fa-shopping-cart"></i> Adicionado ao Carrinho</a>
                        {% elif produto.unidade_medida == "ml" %}
                        <p class="container">
                            <br>
                            <input type="number" class="styled-input" step="1" min="1" max="50" placeholder="1 Unidade" name="quantidade" onblur="atualizarNumero(this), atualizarPreco(this, {{ produto.precoU }})" oninput="atualizarPreco(this, {{ produto.precoU }})">
                            <span class="preco" name="preco">{{ produto.precoU }}€</span>
                        </p>
                        <br>
                        <a href="{% url 'loja-adicionar-ao-carrinho' produto_id=produto.id %}?preco={{ produto.precoU }}" onclick="adicionarAoCarrinho(event, this)" class="cart-btn" data-quantidade="1" data-price="{{ produto.precoU }}">
                            <i class="fas fa-shopping-cart"></i> Adicionado ao Carrinho</a>
                        {% endif %}
                        {% endif %}
                        
                </div>
            </div> 
        </div>
            {% endfor %}  
     </div>  
       
</div>


<!-- end products -->

<!-- logo carousel -->

<script>
    
    function atualizarPreco(input, preco) {
        var valor = input.value;
        var novoPreco = valor * preco;
        var precoElement = input.parentNode.querySelector('.preco');
        precoElement.innerText = novoPreco.toFixed(2) + "€";
}
</script>
{% endblock content %}


