{% extends 'main.html' %}
{% load static %}
{% block content %}


<style>
    .product-section h1 {
        color: black;
        }
        

    .descricao-toggle.expandido i {
        transform: rotate(-180deg);
    }
   
    .imagem{
            display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        }
        .preçoRange{
    font-size: 20px;
    font-weight: normal;
  }
  .preçoRange1{
    font-size: 20px;
    font-weight: bold;
  }
   .preçoRange2{
   
    font-weight: bold ;
  }
  .preco{
    font-size: 20px !important;
    font-weight: bold !important;
  }
  

    
</style>
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Frescos e Organicos</p>
                    <h1>Loja</h1>
                    
                    

                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- products -->
<!-- <h3>{{produto_info}}</h3>
<h3>{{categoria}}</h3> -->

<div class="product-section mt-150 mb-150">
    <a class="imagem">
        {% if filtered_products.0.nome == "Morango" %}
        <img src="{% static 'website/assets/img/products/morango.jpg' %}" alt="Morango">
        {% elif filtered_products.0.nome == "Alface" %}
        <img src="{% static 'website/assets/img/products/alface.jpg' %}" alt="Alface">
        {% elif filtered_products.0.nome == "Tomate Chucha" %}
        <img src="{% static 'website/assets/img/products/tomate.jpg' %}" alt="Tomate Chucha">
        {% elif filtered_products.0.nome == "Gelado Chocolate" %}
        <img src="{% static 'website/assets/img/products/gelado_choco.png' %}" alt="Gelado Chocolate">
        {% elif filtered_products.0.nome == "Gelado Laranja" %}
        <img src="{% static 'website/assets/img/products/gelado_laranja.jpg' %}" alt="Gelado Chocolate">
        {% elif filtered_products.0.nome == "Gelado de Sardinha" %}
        <img src="{% static 'website/assets/img/products/gelado_sardinha.jpg' %}" alt="Gelado Sardinha">
        {% elif filtered_products.0.nome == "Gelado Banana" %}
        <img src="{% static 'website/assets/img/products/gelado_banana.jpg' %}" alt="Gelado Banana">
        {% elif filtered_products.0.nome == "Gelado Abacaxi" %}
        <img src="{% static 'website/assets/img/products/gelado_abacaxi.jpg' %}" alt="Gelado Abacaxi">
        {% elif  filtered_products.0.nome|striptags|default:"" == "O Senhor dos Anéis: As Duas Torres" %}
        
        <img src="{% static 'website/assets/img/products/duas_torres.jpg' %}" alt="Duas Torres">
        {% elif filtered_products.0.nome == "Gelado Nata" %}
        <img src="{% static 'website/assets/img/products/gelado_nata.png' %}" alt="Gelado Nata">
        {% else %}
        <img src="{% static 'website/assets/img/products/default.jpg' %}" alt="Default">
        {% endif %}
        
    </a>
    <h1>{{ filtered_products.0.nome }}</h1>
    <br>
    <div class="row product-lists">
        {% for produto in filtered_products %}
        <div class="col-lg-4 col-md-6 text-center mx-auto">
            <div class="single-product-item">
               
               




                <div>
                    
                        <div class="mais-informacao">
                            <br>
                            <p>Categoria: {{ produto.categoria }}</p>
                            <hr>
                            <p>Fornecedor: {{ produto.fornecedor }}</p>
                            <hr>
                            <p>Unidade de Produção: {{ produto.up }}</p>
                            <hr>
                            <p>Morada: {{ produto.morada }}, {{ produto.cidade }}, {{ produto.pais}}</p>
                           
                            <hr>
                            {% if produto.descricao is not None %}
                                <p>Descrição: {{ produto.descricao }}</p>
                            {% else %}
                                <p>Descrição: Não foi fornecida nenhuma descrição.</p>
                            {% endif %}
                            <hr>
                            <p>Data de Produção: {{ produto.dataP }}</p>
                            <hr>
                            
                            <p>Marca: {{ produto.marca }}</p>
                        <br>
                        </div>
                        {% if produto.precoG == null %}
                        <span class="preçoRange"> Por Unidade: <span class="preçoRange2">{{ produto.precoU }}€ </span> </span>
                    
                        {% elif produto.precoU == null %}
                        <span class="preçoRange"> Por Kilograma: <span class="preçoRange2">{{ produto.precoG }}€ </span> </span>
                     
                        {% else %}
                        
                        <span class="preçoRange"> Por Unidade: <span class="preçoRange2">{{ produto.precoU }}€ ||</span> </span>
                        
                        <span class="preçoRange">  Por Kilograma: <span class="preçoRange2">{{ produto.precoG }}€ </span> </span>
                        
                        {% endif %}

                        {% if produto.precoU == null %}
                        
                        <p class="container">
                            <br>
                            <input type="number" class="styled-input" step="0.5" min="0" max="50" placeholder="1 Kg" name="quantidade" value="1" oninput="atualizarPreco(this, {{ produto.precoG }})">
                            <span class="preco" name="preco">{{ produto.precoG}}€</span>
                        </p>
                        <br>
                        <a href="{% url 'loja-adicionar-ao-carrinho' produto_id=produto.id %}?preco={{ produto.precoG }}" onclick="adicionarAoCarrinho(event, this)" class="cart-btn" data-quantidade="1" data-price="{{ produto.precoG }}">
                            <i class="fas fa-shopping-cart"></i> Adicionado ao Carrinho</a>
                        {% else %}
                        <p class="container">
                            <br>
                            <input type="number" class="styled-input" step="0.5" min="0" max="50" placeholder="1 Kg" name="quantidade" value="1" oninput="atualizarPreco(this, {{ produto.precoU }})">
                            <span class="preco" name="preco">{{ produto.precoU }}€</span>
                        </p>
                        <br>
                        <a href="{% url 'loja-adicionar-ao-carrinho' produto_id=produto.id %}?preco={{ produto.precoU }}" onclick="adicionarAoCarrinho(event, this)" class="cart-btn" data-quantidade="1" data-price="{{ produto.precoU }}">
                            <i class="fas fa-shopping-cart"></i> Adicionado ao Carrinho</a>
                        {% endif %}
                        
                </div>
            </div> 
        </div>
            {% endfor %}  
     </div>  
       
</div>


<!-- end products -->

<!-- logo carousel -->

<script>
    

    function adicionarAoCarrinho(event, link) {
        event.preventDefault();
        var quantidade = element.getAttribute("data-quantidade");
        var preco = element.getAttribute("data-price");
        var url = element.href;
        
        // Adicione o parâmetro de consulta "quantidade" e "preco" à URL
        url += "?quantidade=" + quantidade + "&preco=" + preco;
        
        // Redirecionar para a URL modificada
        window.location.href = url;
    }
    function atualizarPreco(input, preco) {
  var valor = input.value;
  var novoPreco = valor * preco;
  var precoElement = input.parentNode.querySelector('.preco');
  precoElement.innerText = novoPreco.toFixed(2) + "€";
}
</script>
{% endblock content %}


