{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{%static 'website/assets/css/responsiveC.css' %}">
<style>
    h2{
        font-size: 25px !important;
        color:#F28123;
    }
    h3{
        font-size: 25px !important;
        color:#fff;
    }
    p{
        font-size: 13px !important;
        color: #fff;
    }
    table{
        border: 1px solid;
    }
    #lo {
    font-size: .9em;
    color: #fff;
    background: #F28123;
    outline: none;
    border: 1px solid #F28123;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
  }
    #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
    }

    #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    }

    #customers tr{background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #07212e;
    color: white;
    }
</style>
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<div id="UnidadeProducao">
                           
                            <div id="infoGeralUnidadeProducao">
                                <h2>Unidade de Produção:</h2>
                                <h3>{{nome_up}}</h3>
                                <hr>
                                {% if num_veiculos > 0 %}
                                <div id="numeroVeiculos">
                                    <p>Número de veículos desta unidade de produção: {{num_veiculos}}.</p>
                                    <br>
                                </div>
                                <div id="divTabelaVeiculos">
                                    <table id="customers">
                                        <tr>
                                            <th>Nome</th>
                                            <th>Tipo Veículo</th>
                                            <th>Estado</th>
                                            <th>Editar</th>
                                            <th>Remover</th>
                                        </tr>
                                        {% for veiculo in veiculos %}
                                        <tr>
                                            <td>{{ veiculo.nome }}</td>
                                            <td>{{ veiculo.tipo_veiculo }}</td>
                                            <td>{{ veiculo.estado_veiculo }}</td>
                                            <td>
                                                <form action="{% url 'loja-editarVeiculo' userName=request.user.username id=unidadeProducao idVeiculo=veiculo.id %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-info btn-sm">Editar</button>
                                                </form>
                                            </td>
                                            <td>
                                                <form action="{% url 'loja-removerVeiculo' userName=request.user.username id=veiculo.id %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover o veículo {{ veiculo.nome }}?')">Remover</button>
                                                </form>
                                            </td>
                                        </tr>
                                        
                                        {% endfor %}
                                        
                                    </table>
                                </div>
                                {% else %}
                                <h5>Ainda não tem veículos nesta unidade de produção </h5>

                              
                                {% endif %}
                                <br>

                            </div>
                            <div id="botaoAdicionarVeiculos">
                                <form action="{% url 'loja-criarVeiculo' userName=request.user.username id=unidadeProducao %}" method="" class="form-wrapper">
                                    {% csrf_token %}
                                    <input type="submit" id="login" class ="c1" value="ADICIONAR VEÍCULO">
                                </form>
                                
                            </div>


                            <br>
                        
                            {% if produtosUP %}
                                <h2>Produtos associados a esta Unidade de Producao</h4>
                                    
                                    <table id="customers">
                                        <tr>
                                            <th>Produto</th>
                                            <th>Stock</th>
                                            <th>Descricao</th>
                                            <th>Unidade Medida</th>
                                            <th>Preco</th>
                                            <th>Unid. Medida por Unid.</th>
                                            <th>Qnt. por Unid.</th>
                                            <th>Data de Produção</th>
                                            <th>Marca</th>
                                            <th>Editar Produto de Unidade de Produção</th>
                                            <th>Remover Produto de Unidade de Produção</th>
                                        </tr>
                                        {% for produto in produtosUP %}
                                        <tr>
                                            <td>{{ produto.produto }}</td>
                                            <td>{{ produto.stock }}</td>
                                            <td>{{ produto.descricao }}</td>
                                            <td>{{ produto.unidade_medida }}</td>
                                            <!-- preco -->
                                            {% if produto.preco_a_granel != None %}
                                                <td>{{produto.preco_a_granel}}€/{{produto.unidade_medida}}</td>
                                            {% elif produto.preco_por_unidade != None %}
                                                <td>{{produto.preco_por_unidade}}€/un</td>
                                            {% endif %}
                                            <!-- fim preco -->
                                            {% if produto.unidade_medida != 'un' %}
                                            <td> Campo não aplicável </td>
                                            <td> Campo não aplicável </td>
                                            {% else %}
                                            <td> {{produto.unidade_Medida_Por_Unidade}}</td>
                                            <td>  {{produto.quantidade_por_unidade}} </td>
                                            {% endif %}
                                            <td> {{produto.data_producao}}</td>
                                            <td> {{produto.marca}}</td>


                                            <td>
                                                <form action="{% url 'loja-editarAssociacaoProdutoUP' idUnidadeProducao=unidadeProducao idProdutoUnidadeProducao=produto.id %}" method="get">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-info btn-sm" id="lo">Editar</button>
                                                </form>
                                            </td>


                                            <td>
                                                <form action="{% url 'loja-removerAssociaoProdutoUP' idUnidadeProducao=unidadeProducao idProdutoUnidadeProducao=produto.id %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover a associação entre o Produto: {{produto.produto}} e a Unidade de Produção atual ({{nome_up}}) ?')">Remover</button>
                                                </form>
                                            </td>
                                        </tr>
 

                                    {% endfor %}
                                </table>
                                {% else %}
                                <p>Nenhum produto associado a esta unidade de produção.</p>
                                {% endif %}

                            <div id="botaoRemoverUnidadeProducao" style="margin-top: 15px;">
                                <form action="{% url 'loja-removerUnidadeProducao' userName=request.user.username id=unidadeProducao %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" id="login" class ="c2" onclick="return confirm('Tem certeza que deseja remover a unidade de produção {{ unidadeProducao.nome }}?')" value="Remover Unidade Producao">
                                </form>
                            </div>
                            <br>
                            <a href="{% url 'loja-perfil' request.user.username %}" class="layout__boxTitle">
                                <div  class="container">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
                                    <title>arrow-left</title>
                                    <path d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"></path>
                                    </svg>
                                    <h6>Voltar</h6>
                                </div>
                            </a>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{%static 'website/assets/img/company-logos/1.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{%static 'website/assets/img/company-logos/2.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{%static 'website/assets/img/company-logos/3.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{%static 'website/assets/img/company-logos/4.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{%static 'website/assets/img/company-logos/5.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



{% endblock content%}