{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'loja-home' %}">Drogaria do Bairro</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'loja-home' %}">Home <span class="sr-only">(current)</span></a>
      </li>

      <!-- Não Logado -->
      {% if not request.user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'loja-login' %}">Login <span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>

    <!-- logado -->
    {% if request.user.is_authenticated %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img class="imagens" id='imagem-perfil' src="{{request.user.imagem_perfil.url}}"
            style="width:50px;height: 50px;border-radius: 100%;" />
          <span>@{{request.user.username}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'loja-perfil' request.user.username  %}">Perfil</a>
          <!-- Adicionar links futuros em cima do Logout -->
          <a class="dropdown-item" href="{% url 'loja-logout' %}">Logout</a>
        </div>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>
